# VSCode IDE
*.code-workspace

# Documentation
/docs/_build/

# Project files
/templates/
/projects/
/package/
/bin/*
!/bin/*/
!/bin/kubectl-reactor
!/bin/reactor

# State files
/.initialized
/.libraries

# Temporary folders
/logs/
/tmp/
